
{% load crispy_forms_filters %}

<div id="opponera_bekräfta" class="md-5">
	<h5>Kommentera Kodverk</h5>	
    <p style="font-family:garamond;font-size: 18px;">Fyll i kontaktuppgifter och avge sedan dina kommentarer om begreppet. Kommentaren bör på ett tydligt sett ange vad som avses och ska motiveras. Ange även den kontext som din kommentar härrör från. Kommentarerna kommer bearbetas av Begrepps Byrån.</p>
    <form id="opponera_term_form" action="{% url 'verify_comment' %}", method='POST'>{% csrf_token %}
        {{ kommentera|crispy }}
    
    <input type="submit" value="Skicka" id="opponera_button" class="btn btn-light-blue" style="color: white;font-family:frutiger; background-color:#006298;">
    </form>
</div>
{% block extra_javascript %}
<script>	
	$("#opponera_term_form").submit(function(event){
		event.preventDefault(); //prevent default action 
		var post_url = $(this).attr("action"); //get form action url
		var request_method = $(this).attr("method"); //get form GET/POST method
		var form_data = $(this).serialize(); //Encode form elements for submission
		
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(response){ 
			$("#populate_form_comment").html(response);
			setTimeout(function(){
				$("#populate_form_comment").html('<div id="populate_form_comment"></div>')}, 2500);
		});
	});
</script>
{% endblock extra_javascript %}