{% load split %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="mitten-span-middle-column text-centered col-centered">
                
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-sm bg-info text-white" disabled id="kodverk">
                <strong>Hänvisning till externt kodverk</strong>
            </button>
        </div>
    </div>
        
    <div class="row justify-content-md-center top-buffer-10 pr-1">
    <table id="komplett_metadata_tabell" class="table table-bordered table-striped table-md top-buffer-10">

    <tbody>
            <tr>
                <td colspan="2">Namn</td>
                <td colspan="6"><strong>{{kodverk.titel_på_kodverk}}</strong></td>
            </tr>
            <tr>
                <td colspan="2">Beskrivning av innehållet</td>
                <td colspan="6">{{kodverk.beskrivning_av_innehållet}}</td>
            </tr>
            {% if kodverk.codeableconceptattributes_set.all %}
                {% for entry in  kodverk.codeableconceptattributes_set.all %}
                    
                        {% if entry.ägare_till_kodverk|length > 0 %}
                        <tr>
                            <td colspan="2">
                                Ägare till kodverket
                            </td>
                            <td colspan="6">
                                {{entry.ägare_till_kodverk}}
                            </td>
                        </tr>
                        {% endif %}
                        {% if entry.källa|length > 0 %}
                        <tr>
                            <td colspan="2">
                                Källa
                            </td>
                            <td colspan="6" id="källa_link">
                                {{entry.källa}}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}            
            <td colspan="2">Underlag länk</td>
            <td colspan="6">
            {% if kodverk.länk|length > 0 %}
                <a href="{{kodverk.länk}}" target="_blank" rel="noopener noreferrer">
                {{kodverk.länk|truncatechars:50}}</a>
            {% else %}
                Länk saknas
            {% endif %}
                
            </td>
            </tr>
    </tbody>
    </table>
    </div>
</div>

<script type="text/javascript">

function format_ahref_source_link(){
    var källa = document.querySelector("#källa_link"); 
    var link = källa.textContent.trim('\n').split(' ');
    var http_link = link[0].split('=').slice(1,).join('=');
    var link_description = link.slice(1,).join().split('=')[1];
    källa.innerHTML = `<a href="${http_link}">${link_description}</a>`;
};

format_ahref_source_link();

 </script>