{% load split %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="mitten-span-middle-column text-centered col-centered">
                
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-sm bg-info text-white" id="kodverk">
                <strong>Hänvisning till externt kodverk</strong>
            </button>
        </div>
    </div>
        
    <div class="row justify-content-md-center top-buffer-10 pr-1">
    <table id="komplett_metadata_tabell" class="table table-bordered table-striped table-md top-buffer-10">

    <tbody>
            <tr>
                <td colspan="2">Namn</td>
                <td colspan="6"><strong>{{kodverk_full.titel_på_kodverk}}</strong></td>
            </tr>
            <tr>
                <td colspan="2">Beskrivning av innehållet</td>
                <td colspan="6">{{kodverk_full.beskrivning_av_innehållet}}</td>
            </tr>
            <tr>
                <td colspan="2">Ägare till kodverket</td>
                <td colspan="6">{{kodverk_full.ägare_till_kodverk}}</td>
            </tr>
            <tr>
                <td colspan="2">Källa</td>
                {% if codeconcept %}
                    {% for entry in codeconcept %}
                        <td colspan="6">
                            {% with källa=entry.källa|split:'=' %}
                                {% if källa.länk %}
                                    <a href="{{källa.länk}}" target="_blank" rel="noopener noreferrer">
                                        {{källa.klartext|truncatechars:50}}
                                    </a>
                                {% elif källa.klartext %}
                                    {{källa.klartext|truncatechars:50}}
                                {% else %}
                                    {{källa}}
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                {% else %}
                    <td colspan="6">
                        <a href="{{kodverk_full.länk}}" target="_blank" rel="noopener noreferrer">
                            {{kodverk_full.länk|truncatechars:50}}
                        </a>
                    </td>
                {% endif %}
            </tr>
    </tbody>
    </table>
    </div>
</div>