<div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">				
          <h4 class="modal-title" style="font-family: frutiger;">Instruktioner för verifiera/kommentera</h4>
        </div>
        <div class="modal-body">
            <h4 style="font-family: frutiger;">Lämna synpunkter</h4>
                <p>
                    Funktionen <em>Lämna synpunkter</em> är tänkt att vara en möjlighet att framföra synpunkter om ett kodverk, 
                    hur och var det används eller om det finns felaktigheter. Det är viktigt att kommentaren tydligt 
                    anger vad som avses samt motiveras på ett adekvat sätt. Ange även den kontext som din kommentar 
                    gäller. Kommentarerna kommer sedan bearbetas av Kodverksgruppen. 
                    <br>Gör så här:<br>
                    <ol>
                        <li>Tryck på knappen Kommentera</li>
                        <li>Fyll i kontaktuppgifter men namn, E-post och telefon så att vi kan nå dig för att ställa frågor.</li>
                        <li>Lägga in dina kommentarer om kodverket. Var så tydlig du kan!</li>
                        <li>Tryck på Skicka</li>
                    </ol>
                    <br>
                </p>
            <h4 style="font-family: frutiger;">Verifiera användning</h4>
            <p>
                Funktionen <em>Verifiera användning</em> ska användas för att visa information om var i verksamheten ett kodverk 
                    används. Det är således viktigt att de som söker och använder ett kodverk verifierar detta med denna funktion.
                    <br>Gör så här:<br>
                <ol>
                    <li>När du sökt och funnit ett kodverk som motsvarar ert behov tryck på knappen Verifiera användning</li>
                    <li>Fyll i E-postadress</li>
                    <li>Välj ett användningsområde i listan Verifierar att kodverket används i.</li>
                        <ol>
                            <li>Finns inte det avsedda användningsområdet i listan, välj Annan.</li>
                            <li>Skriv sedan i ett nytt användningsområde i fältet Om annat.</li>
                        </ol>

                    <li>Tryck på Skicka</li>
                </ol>
            </p>
            
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        </div>
      </div>			
    </div>
  </div>


<!--           
    Kommentera Kodverk modal
-->

  <div class="modal fade" id="Comment" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">				
        <h4 class="modal-title" style="font-family: frutiger;">Kommentera kodverket</h4>
        </div>
        <div class="modal-body">

            <div id="populate_form_comment" class="form-group"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        </div>
      </div>			
    </div>
  </div>

<!--           
    Verify Kodverk modal
-->

  <div class="modal fade" id="verify" role="dialog">
    <div class="modal-dialog">		  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">				
          <h4 class="modal-title" style="font-family: frutiger;">Verifiera användning av kodverket</h4>
        </div>
        {% load crispy_forms_filters %}
        <div class="modal-body">

            <div id="populate_form_verify"></div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        </div>
      </div>			
    </div>
  </div>
</div>
