{% extends 'base.html' %}
{% load static %}


{# start of the row containing the search bar #}
{% block search_bar %}
<div class="row mt-5" id="search_bar_row">

	{% block search-left-column %}	
	<div class="col-3" id="search-left-column"></div>
	{% endblock search-left-column %}

	{% block search-middle-column %}
		<div class="col-6" id="search-middle-column">
			<form class="form-inline" onsubmit="return false;">
			<i id="search-icon" class="fas fa-search" style="position:relative; left:-0.5%;" aria-hidden="true"></i>
			<input id="user-input" class="form-control form-control-md" style="flex:2;" type="text" placeholder="Sök" aria-label="Sök">
			</form>
		</div>
	{% endblock search-middle-column %}

	{% block search-right-column %}
		<div class="col-3" id="search-right-column"></div>
	{% endblock search-right-column %}
	</div>
{% endblock search_bar %}
{# end of the row containing the search bar #}