{% include 'base.html' %}
{% load static %}


{% block mitten-span %}
<div class="row mt-10" id="mitten-span-row">
  <div class="col-2" id="mitten-span-left-column"></div>
  <div class="col-8" id="mitten-span-middle-column">
    <table id="table_id" class="display">
        <thead> 
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>
    
  </div>
  <div class="col-2" id="mitten-span-right-column"></div>
</div>
{% endblock mitten-span %} 



<script>

    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>