{% extends "kodverk_partial_result.html" %}
{% load static %}

{% load crispy_forms_filters %}

{% block mitten-span %}
{% if kodverk  %}

        <div class="row top-buffer-10">
                <div class="col-12 text-center">
                <button class="btn btn-outline-warning btn-sm" id="open_kommentera_button" data-toggle="modal" data-target="#Comment">
                    <span class="fas fa-comment" style="font-size:smaller;"></span>&nbsp;Lämna synpunkter
                </button>        
                
                <button class="btn btn-outline-success btn-sm" id="open_verifiera_button" data-toggle="modal" data-target="#verify">
                    <span class="fas fa-user-check" style="font-size:smaller;"> </span>&nbsp;Verifiera användning
                </button>
                
                <button type="button" class="btn btn-outline-info btn-sm" id="download_kodverk" onclick="location.href='{% url 'export_kodverk' kodverk_id %}'">
                    <span class="fas fa-download" style="font-size:smaller;"></span>&nbsp;Ladda ner
                </button>
                
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#help">
                    <span class="fas fa-question-circle" style="font-size:smaller;"></span>&nbsp;Hjälp
                    <form id="opponera_term_form" action="{% url 'verify_comment_form' %}", method='POST'>{% csrf_token %}
                        {{ opponera|crispy }}
                </button>
            </div>
        </div>

    <hr>


    <div class="container-fluid">

     <div class="row" id="mitten-span-row">

        <!-- Alla metadata attribut -->

        {% if kodverk.kodverk_variant == "Externt kodverk hänvisning" %}

            {% include "externt_kodverk_hanvisning.html" %}

        {% elif kodverk.kodverk_variant == "VGR codeable concept" %}

            {% include "multi_value_attributes.html" %}

        {% else  %}

            {% include "vgr_kodverk.html" %}

        {% endif %}

    {% block help %}
        {% include "help.html" %}  
    {% endblock help %}
        
{% else %}
        <p>Ingen definition hittades...</p>
{% endif %}

{% endblock mitten-span %}
     
{% block extra_javascript %}
{{ super }}

<link rel="stylesheet" href="{% static '/css/main.css' %}" media="screen">
<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/jquery.dataTables.min.css' %}" media="screen">
<script>

/* Formatting function for row details - modify as you need */

function format (d) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Kod:</td>'+
            '<td>'+d.kod+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Kodtext:</td>'+
            '<td>'+d.kodtext+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Definition:</td>'+
            '<td>'+d.definition+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Annan kodtext:</td>'+
            '<td>'+d.annan_kodtext+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Position:</td>'+
            '<td>'+d.position+'</td>'+
        '</tr>'+
    '</table>';
};

 // Add event listener for opening and closing details
 $('#kodtext_tabell tbody').on('click', 'td.details-control', function () {
     var tr = $(this).closest('tr');
     var row = table.row( tr );

     if ( row.child.isShown() ) {
         // This row is already open - close it
         row.child.hide();
         tr.removeClass('shown');
     }
     else {
         // Open this row
         row.child( format(row.data()) ).show();
         tr.addClass('shown');
     }
 } );

 $( document ).ready(function() {
             
    var table = $('#kodtext_tabell').DataTable({
        order: [[3, 'asc']],
        fixedColumns: false,
        columnDefs: [
            {
                name: 'Kod',
                width: 50, 
                target: 0
            },
            {
                name: 'Kodtext',
                width: 50, 
                target: 1,
            },
            {
                name: 'Övrig',
                target: 1, 
                className: 'breaklongline',
            },
            {
                name: 'Position',
                visible: false, 
                sortable: false, 
                target: 2,
                className: 'notToggleVis'

            },
        ],
        "stateSave" : true,
        "retrieve" : true,
        "initComplete": function(){ 
        $("#kodtext_tabell").show(); 
    },
        "language": {
            "url": "{% url 'translation_text' %}",
            "emptyTable": "Inga kodtexter som kan visas"
    },
    });
});
    
function showOptions() {
  var x = document.getElementById("showopt");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
	
	$("#opponera_term_form").submit(function(event){
		event.preventDefault(); //prevent default action 
		var post_url = $(this).attr("action"); //get form action url
		var request_method = $(this).attr("method"); //get form GET/POST method
		var form_data = $(this).serialize(); //Encode form elements for submission
		
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(response){ 
			$("#mitten-span-middle-column").html(response);
			setTimeout(function(){
				$("#mitten-span-middle-column").html('<div id="mitten-span-middle-column"></div>')}, 2500);
		});
    });
    
 
    $("#beställ_form").submit(function(event){
    event.preventDefault();
    var post_url = $(this).attr("action");
    var request_method = $(this).attr("method");
    var formdata = new FormData($(this)[0]);
    
    $.ajax({
        beforeSend: function (request)
            {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
        url : post_url,
        type: request_method,
        dataType: 'html',
        contentType: false,
        cache: false,
        processData:false,
        data : formdata,
        success : function(response){
            $("#mitten-span-middle-column").html(response);
            history.pushState(post_url, '', post_url)
            setTimeout(function(){
            $("#mitten-span-middle-column").html('<div id="mitten-span-middle-column"></div>')}, 2500);
            document.getElementById('user-input').value = '';
            history.replaceState('', 'VGR Informatik - KOLLI Kodtjänst', '/');
	    }
    });
});

    

function get_form_function(url, div_to_replace, type_method){
        
    $.ajax({
        url : url,
        type : type_method,
        success: function(response){
            $(div_to_replace).html(response);
        },
        error: function() {
    $(div_to_replace).html("There has been an error loading this form");
    },

    });

};

$(document).ready(function(){

$("#open_kommentera_button").click(function(){
    
    get_form_function(url="{% url 'verify_comment_form' %}?q={{kodverk_id}}&value=comment", 
                      div_to_replace="#populate_form_comment",
                      type_method="GET");
                    });
                      
$("#open_verifiera_button").click(function(){    
    
    get_form_function(url="{% url 'verify_comment_form' %}?q={{kodverk_id}}&value=verify",
                      div_to_replace="#populate_form_verify",
                      type_method="GET"); 
                    });
});

if (document.body.contains(document.getElementById("ElementId2")) == true) {

    document.getElementById("underlagfil").addEventListener("click", function() {
    e.preventDefault();  //stop the browser from following
    window.location.href = "/kodtjanst/media/{{kodverk.underlag.url}}";
    console.log( "File served" );
    });
} else {
    console.log('underlag fil id missing, skipping addEventListener')
}



</script>

{% endblock extra_javascript %}



