{% extends 'base.html' %}
{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet"> 
<div class="row" id="header_row"> 
	<div class="col-2 mt-3" id="header_left_column"></div>
	<div class="col-8 text-center mt-3" id="header_center_column">
		<h3>KOLLI Kodtjänst (beta)</h3>
	</div>
	<div class="col-2" id="header_left_column"></div>
</div>
<div class="row" id="list_icon_row">
	<div class="text-center col-12 top-buffer-10">
		~<img height="40%" src="{% static '/images/favicon.gif' %}">~
	</div>
</div>
{% endblock header %}

{# start of the row containing the search bar #}
{% block search_bar %}
<div class="row mt-5" id="search_bar_row">

	{% block search-left-column %}	
	<div class="col-3" id="search-left-column"></div>
	{% endblock search-left-column %}

	{% block search-middle-column %}
		<div class="col-6" id="search-middle-column">
			<form class="form-inline" onsubmit="return false;">
			<i id="search-icon" class="fas fa-search" style="position:relative; left:-0.5%;" aria-hidden="true"></i>
			<input id="user-input" class="form-control form-control-md" style="flex:2;" type="text" placeholder="Sök" aria-label="Sök">
			</form>
		</div>
	{% endblock search-middle-column %}

	{% block search-right-column %}
		<div class="col-3" id="search-right-column"></div>
	{% endblock search-right-column %}
	</div>
{% endblock search_bar %}
{# end of the row containing the search bar #}