{% load static %}
{% load crispy_forms_filters %}
{% if begrepp_full %}
    <div class="col-8" id="mitten-span-middle-column">
        <div id="förklaring" class="förklaring">
        <div class="searchTable">
        <table id="term_förklaring_tabell" class="table table-bordered">
            <tbody>
                <tr class="{{färg_status.begrepp}}">
                    <td>Status</td>
                    <td>{{begrepp_full.status}}</td>
                </tr>

                <tr class="{{färg_status.begrepp}}">
                    <td>Term</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.term}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.term}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Synonym</td>
                    <td>    
                            {% for list_item in synonym_full %}
                                {% if list_item.synonym is not None %}
                                    {% if list_item.synonym_status == "Avråds" %}
                                    - <button type="button" class="btn-sm btn-avrådd"><s>{{list_item.synonym}}</s></button>
                                    <br>
                                    {% else %}
                                        - {{list_item.synonym}}<br>
                                    {% endif %}                            
                                {% else %}
                                    -
                                {% endif %}
                            {% endfor %}
                    </td>        
                </tr>

                <tr class="{{färg_status.begrepp}}">
                    <td>Definition</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.definition}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.definition}}</td>
                    {% endif %}
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>Källa</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.källa}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.källa}}</td>
                    {% endif %}
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>Anmärkning</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.anmärkningar|default_if_none:'-'}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.anmärkningar|default_if_none:'-'}}</td>
                    {% endif %}
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>ID VGR</td>
                    <td>{{begrepp_full.id_vgr}}</td>
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>Term på annat språk</td>
                    <td>{{begrepp_full.utländsk_term}}</td>
                </tr>
                <tr>
                    <td>Definition på annat språk</td>
                    <td>{{begrepp_full.utländsk_definition}}</td>
                </tr>
                <tr>
                    <td>Annan referens</td>
                    <td>{{begrepp_full.externt_register}}</td>
                </tr>
                <tr>
                    <td>Kod</td>
                    <td>{{begrepp_full.externt_id}}</td>
                </tr>
                <tr>
                    <td>Verifierad användning</td>
                    
                    <td>{% for domän in domän_full %}
                        - {{domän.domän_namn}}<br>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td><button class="btn btn-warning" style="font-family: frutiger; background-color: #f2a900;" id="opponera_button">Kommentera</button></td>
                    <td><button class="btn btn-success" style="font-family: frutiger; background-color: #4a773c;" id="bekräfta_button">Verifiera användning</button><button type="button" style="float:right;font-family:frutiger; background-color:#006298;"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#Comment">Hjälp</button></td>
                    
                </tr>
            </tbody>
        </table> 
        <div class="modal fade" id="Comment" role="dialog">
            <div class="modal-dialog">		  
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">				
                  <h4 class="modal-title" style="font-family: frutiger;">Instruktioner för Verifiera/kommentera</h4>
                </div>
                <div class="modal-body">
                  <h4 style="font-family: frutiger;">Kommentera begrepp</h4>
                  <p style="font-family: Calibri;">
                    Funktionen Kommentera är tänkt att vara en möjlighet att framföra synpunkter om ett begrepp, hur och var det används eller om det finns felaktigheter. Man kan också ange synonyma termer som kan vara aktuella, ev översättning m m. Det är viktigt att kommentaren tydligt anger vad som avses samt motiveras på ett adekvat sätt. Ange även den kontext som din kommentar gäller. Kommentarerna kommer sedan bearbetas av BegreppsByrån. <br>Gör så här:<br>
                    <ul style="font-family: Calibri;"><li>1.	Tryck på knappen Kommentera</li><li>
                    2.	Fyll i kontaktuppgifter men namn, E-post och telefon så att vi kan nå dig för att ställa frågor.</li><li>
                    3.	Avge dina kommentarer om begreppet. Var så tydlig du kan! </li><li>
                    4.	Tryck på Skicka</li> </ul> <br></p>
                    <h4 style="font-family: frutiger;">Verifiera användning</h4><p style="font-family: Calibri;">
                Funktionen Verifiera användning ska användas för att visa information om var i verksamheten ett begrepp används. Det är således viktigt att de som söker och använder ett begrepp verifierar detta med denna funktion.<br>Gör så här:<br>
               <ul style="font-family: Calibri;">
                <li>1   . När du sökt och funnit ett begrepp som motsvarar ert behov tryck på knappen Verifiera användning</li>
                <li>2.   Fyll i E-postadress</li>
                <li>3.   Välj ett användningsområde i listan Verifierar att begreppet används i.</li>
                <li>3.1.     Finns inte det avsedda användningsområdet i listan, välj Annan.</li>
                <li>3.2.     Skriv sedan i ett nytt användningsområde i fältet Om annat.</li>
                <li>4.  Tryck på Skicka</li></ul></p>
                    
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">stäng</button>
                </div>
              </div>			
            </div>
          </div>
      </div>
        </div>
    </div>
    <div class="col-2" id="mitten-span-right-column"></div>
    </div>
        {% else %}
                <p>Ingen definition hittades...</p>
        {% endif %}

<div id="opponera_bekräfta">


{% block extra_javascript %}
<script>

var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
// create an observer instance
var observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
        if (mutation.type === 'childList') {
            scrollSmoothToBottom();
            if ($('input[name=namn]').length > 0) {
                $('input[name=namn]').focus();
            } else {
                $('input[name=epost]').focus();
            }
    }
    });
});
 
// configuration of the observer:
var config = {childList: true}
 
var target = document.querySelector('#opponera_bekräfta');
// pass in the target node, as well as the observer options
observer.observe(target, config); 

function get_form_function(url, div_to_replace, type_method){
        
        $.ajax({
            url : url,
            type : type_method,
            success: function(response){
                $(div_to_replace).html(response);
            },
            error: console.log('Unable to load form')

        });

    };
    
$(document).ready(function(){

    $("#opponera_button").click(function(){
        
        get_form_function(url="{% url 'opponera_term' %}?q={{begrepp_full.term}}", 
                          div_to_replace="#opponera_bekräfta",
                          type_method="GET");
                        });
                          
    $("#bekräfta_button").click(function(){    
    
        get_form_function(url="{% url 'bekräfta_term' %}?q={{begrepp_full.term}}",
                          div_to_replace="#opponera_bekräfta",
                          type_method="GET"); 
                        });
    });

function scrollSmoothToBottom() {
    var div = document.getElementById("opponera_bekräfta");
    div.scrollIntoView({behavior : 'smooth'});
};
</script>
{% endblock extra_javascript %}