{% extends 'base.html' %}
{% load static %}

{# start of the row containing the search bar #}
{% block search_bar %}
<div class="container-fluid">
<div class="row mt-5" id="search_bar_row">

	{% block search-left-column %}	
	<div class="col-3" id="search-left-column"></div>
	{% endblock search-left-column %}

	{% block search-middle-column %}
		<div class="col-6" id="search-middle-column">
			<form class="form-inline" onsubmit="return false;">
				<i id="search-icon" class="fa-solid fa-search" style="position:relative; left:-0.5%;" aria-hidden="true"></i>
				<input id="user-input" class="form-control form-control-md" style="flex:2;" type="text" placeholder="Sök" aria-label="Sök">
			</form>

			<div class="row justify-content-between mt-2" id="codeset_letter_filter">
					{% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ'|make_list %}
							<div class="d-flex flex-wrap">
								<a href="{% url 'kodverk_sok'  %}?q={{letter}}&filter=True">
									{{letter}}
								</a>
							</div>
					{% endfor %}
			</div>

			<div class="container" id="front_help_text">
			<div class="row justify-content-center mt-4" >
				<div class="col-6">
					<h5 class="mx-auto" style="width: 100px">Om KOLLI</h5>
					  <div class="card" style="background-color:#aed9f0;">
					  <div class="card-body" style="font-family: Calibri;">

				KOLLI är Västra Götalandsregionens kodverkstjänst, en sökfunktion över kodverk inom hälso- och sjukvård i regionen. Med kodverk menas ett urval av värden som valalternativ för att svara på en fråga och som syns i IT-system i form av rullistor, kryssrutor och liknande. Kodverken representerar olika urval inom olika domäner som är relaterade till vård. <br><br> KOLLI innehåller dels kodverk som enheten Informatik och standardisering har tagit fram och förvaltar (kodverk som inleds med VGRKV_), dels kodverk som ägs och förvaltas utanför regionen (ex Snomed CT urval).<br><br> KOLLI är tänkt att användas som uppslagsverk och stöd för en enhetlig kodverkshantering inom regionen. Oavsett vilket system som används ska alternativen vara lika och koderna ska kunna återanvändas. Om kodverk behöver anpassas efter din verksamhet, vänligen kontakta oss via informatik@vgregion.se eller använd lämna synpunkter-knappen på respektive kodverk.
					</div>
					</div>
				</div>
			</div>
			</div>
	{% endblock search-middle-column %}

	{% block search-right-column %}
		<div class="col-3" id="search-right-column"></div>
	{% endblock search-right-column %}
	</div>
</div>
{% endblock search_bar %}
{# end of the row containing the search bar #}