<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="mitten-span-middle-column col-centered text-center">   

    <div class="row">
        <div class="mx-auto">
            <div class="table-info bg-info rounded text-white text-center p-2">Urval ur externt kodverk</div>
        </div>
    </div>
    
    <div class="row">


    
        <table id="komplett_metadata_tabell" class="table table-bordered table-striped table-md top-buffer-10">
        <tbody>
                <tr>
                    <td colspan="1">Namn</td>
                    <td colspan="1"><strong>{{kodverk.titel_på_kodverk}}</strong></td>
                </tr>
                <tr>
                    <td colspan="1">Beskrivning av innehållet</td>
                    <td colspan="1">{{kodverk.beskrivning_av_innehållet }}</td>
                </tr>
                <tr>
                    <td colspan="1">Ägare till kodverket</td>
                    <td colspan="1">{{kodverk.ägare_till_kodverk}}</td>
                </tr>
                {% if kodverk.länk %}
                <tr>
                    <td colspan="1">Länk</td>
                    <td colspan="1"><a href={{kodverk.länk}}>{{kodverk.länk|truncatechars:50}}</a></td>                    
                </tr>
                {% endif %}
                {% if external_kodtext %}
                    <tr>
                        <td colspan="1">Källa</td>
                        <td colspan="1">
                            <ul>
                            {% for kodtext in external_kodtext %}
                                <li><a href="{{kodtext.resolving_url}}" target="_blank" rel="noopener noreferrer">{{kodtext.mappad_id}} | {{kodtext.mappad_text|truncatechars:50}} |</a></li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
    
            </tbody>
        </table>
    </div>
</div>

