{% load crispy_forms_tags %}


<div id="kommentera_verifiera" class="md-5">
	<p class="text-justify font-weight-normal" style="line-height: 160%; font-size: 14px;">
        Bekräfta att kodverk/kodtext används inom en kontext som du arbetar med. 
        Fyll i e-postadress och ange den kontexten. Informationen kommer 
		bearbetas av Kodverks gruppen.
	</p>

    <form id="verifiera_kodverk_form" action="{% url 'verify_comment_form' %}", method='POST' class="bootstrap4">{% csrf_token %}
        {{ verify|crispy }}
    
    	<input type="submit" value="Skicka" id="verifiera_button" class="btn btn-light-blue" style="color: white;font-family:frutiger; background-color:#006298;">
    </form>
</div>

{% block extra_javascript %}
<script>	
	$("#verifiera_kodverk_form").submit(function(event){
		event.preventDefault(); //prevent default action 
		var post_url = $(this).attr("action"); //get form action url
		var request_method = $(this).attr("method"); //get form GET/POST method
		var form_data = $(this).serialize(); //Encode form elements for submission
		
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(response){ 
			$('#verify').hide();
			$('.modal-backdrop').hide();
			$("#mitten-span-middle-column").html(response);	
			setTimeout(function(){
				$("#mitten-span-middle-column").html('<div id="mitten-span-middle-column"></div>')}, 2000);
		});
	});
</script>
{% endblock extra_javascript %}