{% load zip %}

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="mitten-span-left-column text-centered col-centered">
                
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-sm bg-info text-white" id="kodverk">
                <strong>Kodverk</strong>
            </button>
        </div>
    </div>
        
    <div class="row justify-content-md-center top-buffer-10 pr-1">
    <table id="komplett_metadata_tabell" class="table table-bordered table-striped table-md top-buffer-10">
    <tbody>
            <tr>
                <td colspan="2">Namn</td>
                <td colspan="6"><strong>{{kodverk.titel_på_kodverk}}</strong></td>
            </tr>
            <tr>
                <td colspan="2">Beskrivning av innehållet</td>
                <td colspan="6">{{kodverk.beskrivning_av_innehållet }}</td>
            </tr>
            {% if "verksamhet" in kodverk.användning_av_kodverk %}
                <tr class="table-warning">
            {% elif "system" in kodverk.användning_av_kodverk %}
                <tr class="table-blue">
            {% else %}
                <tr class="table-success">
            {% endif %}
                <td colspan="2">Användning</td>
                <td colspan="6">{{kodverk.användning_av_kodverk}}</td>
            </tr>
            <tr>
                <td colspan="2">Ägare till kodverket</td>
                <td colspan="6">
                                {% for attribute in kodverk.codeableconceptattributes_set.all %}
                                    {{attribute.ägare_till_kodverk}}<br>
                                {% endfor %}
                </td>
            </tr>
            {% if kodverk.identifierare %}
            <tr>
                <td colspan="2">Identifierare</td>
                <td colspan="6">{{kodverk.identifierare}}</td>
            </tr>
            {% endif %}


            <tr>
                <td colspan="2">Giltig från</td>
                <td colspan="6">{{kodverk.giltig_från}}</td>
            </tr>
            <tr>
                <td colspan="2">Giltig tom</td>
                <td colspan="6">{{kodverk.giltig_tom}}</td>
            </tr>
            <tr>
                <td colspan="2">Senaste ändring</td>
                <td colspan="6">{{kodverk.senaste_ändring}}</td>
            </tr>
            <tr>
                <td colspan="2">Status</td>
                <td colspan="6">{{kodverk.status}}</td>
            </tr> 
            <tr>
                <td colspan="2">Underlag länk</td>
                <td colspan="6">
                {% if kodverk.länk|length > 0 %}
                    <a href="{{kodverk.länk}}">{{kodverk.länk|slice:":50"}}</a>
                {% else %}
                    Ingen länk
                {% endif %}
                </td>
            </tr>
            
        </tbody>
        </table>
    </div>
</div>

<!-- Själva kodtext -->

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="mitten-span-right-column col-centered">

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-sm bg-info text-white" id="kodverk">
                <strong>Kodtexter</strong>
            </button>
        </div>
    </div>

    <div class="row justify-content-md-center top-buffer-20 pl-1">
        <table id="kodtext_tabell" name="kodtext_tabell" style="width:98%; cellpadding:5px; cellspacing:0; border: 0;">
            <thead>
                <!-- Populated by DataTables javascript -->
            </thead>
            <tbody>
                <!-- Populated by DataTables javascript -->
            </tbody>
        </table>
    </div>
</div>