{% extends 'admin/base.html' %}
{% load static %}

{% block responsive %}
{{ block.super }}


<link rel="stylesheet" type="text/css" href="{% static '/css/admin_bootstrap_text_danger.css' %}">

<script>

window.addEventListener("load", function() {

	if (document.body.innerHTML !== null && document.body.innerHTML.search("Välkommen till KOLLI Portalen") > -1) {

	function change_link_anchor_text(data) {
		
		var inner_html = document.querySelectorAll( 'a' );

		const element = [...inner_html].filter(elem => {
			return elem.innerHTML == 'Kommenterade kodverk'
		});

		if (data.unreadcomments == 0) {
			return element[0]
		} else if (data.unreadcomments == 1) {
			return element[0].innerHTML += '<span class="text-danger"> - ' + data.unreadcomments + " Nytt kommentar</span>";
		} else if (data.unreadcomments > 1) {
			return element[0].innerHTML += '<span class="text-danger"> - ' + data.unreadcomments + " Nya kommentarer</span>";
		};
	}

	function check_number_of_recent_comments() {
			
		var req = new XMLHttpRequest();
		req.responseType = 'json';
		req.open('GET', "{% url 'unread_comments' %}", true);
		req.onload  = function() {
			change_link_anchor_text(req.response);
		};
		req.send(null);
			
		};
		check_number_of_recent_comments();
	}
	})

</script>
{% endblock responsive %}
