{% load static %}
{% block preamble %}
<!doctype html>

<html lang="en">
<head>
  <!-- Required meta tags -->
  <title style="font-family: frutiger;">VGR Informatik - KOLLI Kodverktjänst</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="icon" type="image/png" href="{% static '/images/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static '/images/favicon-16x16.png' %}" sizes="16x16" />
  {% block base_static %}  
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static '/css/main.css' %}" media="screen">

      <link href="{% url 'recently_published_kodverk' %}" rel="alternate" type="application/rss+xml" title="Prenumera till nya kodverk">
      <link href="{% url 'recently_changed_kodverk' %}" rel="alternate" type="application/rss+xml" title="Prenumera till ändringar i kodverk">

  {% endblock base_static %}
</head>
{% block base_javascript %}  
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      
{% endblock base_javascript %}
<body>
{% endblock preamble %}
  {% load crispy_forms_tags %}
  
  {% block header %}
    <div class="container-fluid">
      <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet"> 
      {% block first_header_row %}
        <div class="row align-items-center" style="position: relative; vertical-align: middle; text-align: center;" id="header_row">
          <div class="col-2 mt-3 col-lg-2 col-md-2 col-sm-2 col-xs-2" id="header_left_column">
            {% block header_left_column %}  
                <img style="margin-top: 1%; margin-left: 1%;  width: 100%;" src="{% static '/images/VGR-logga.SVG'%}">
            {% endblock header_left_column %}
          </div>
          <div class="col-8 text-center mt-3" id="header_center_column">
            {% block header_middle_column %}
              <h3>KOLLI Kodtjänst (beta)</h3>
              <div class="col-12" id="list_icon_row">
                <div class="text-center top-buffer-10">
                    ~<img height="40%" src="{% static '/images/favicon_32px.gif' %}">~
                </div>
              </div>
            {% endblock header_middle_column %}
          </div>
          <div class="col-2 mt-3"" id="header_right_column">
            {% block header_right_column %}
            
            <div class="row">
              <div class="col-6">
              <table class="table table-sm table-borderless m-0 p-0">
                <tr class="m-0">
                 <td rowspan="2" class="align-middle m-0">
                    <button onclick="scrollToHelp()"type="button" style="font-family: frutiger; background-color:#006298;" class="btn btn-info btn-md">
                        Hjälp!
                    </button>              
                 </td>
                 <td>
                    <div class="small-text m-0">Ändringar</div>
                    <a href="{% url 'recently_changed_kodverk' %}" rel="alternate" type="application/rss+xml" data-toggle="popover_ändringar" data-placement="bottom">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-rss" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                        <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"></path>
                        </svg>
                      </a>
                 </td>
                </tr>
                <tr>
                 <td>
                    <div class="small-text">Nya kodverk</div>
                    <a href="{% url 'recently_published_kodverk' %}" rel="alternate" type="application/rss+xml" data-toggle="popover_nyakodverk" data-placement="bottom">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                        <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"></path>
                      </svg>
                    </a>
                 </td>
                </tr>
               </table>
            </div>
            {% endblock header_right_column %}
          </div>
        </div>
      {% endblock first_header_row %}
        </div>
      {% block second_header_row %}

    {% endblock second_header_row %}
  {% endblock header %}
  
  {% block search_bar %}
    {% block search_left_column %}
    {% endblock search_left_column %}
    {% block search_middle_column %}
    {% endblock search_middle_column %}
    {% block search_right_column %}
    {% endblock search_right_column %}
  {% endblock search_bar %}  
  {% block replaceable-content %}
  <div class="row mt-10" id="replaceable-content-row">
    <div class="col-2" id="replaceable-content-left-column"></div>
    <div class="col-8 text-left top-buffer-15" id="replaceable-content"></div>
    <div class="col-2" id="replaceable-content-right-column"></div>
  </div>
  {% endblock replaceable-content %}  
  {% block mitten-span %}
  <div class="row mt-10" id="mitten-span-row">
    <div class="col-2" id="mitten-span-left-column"></div>
    <div class="col-8" id="mitten-span-middle-column"></div>
    <div class="col-2" id="mitten-span-right-column"></div>
  </div>
  {% endblock mitten-span %}   
  {% block footer %}
  {% endblock footer %}

  {% include "kodtjanst/help_text.html" %}

</div>
{% block endbody %}
</body>
</html>
{% endblock endbody %}


{% block extra_javascript %}
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>

<script>
function scrollToHelp()
{
  
  $('#mitten-span-middle-column').empty(); 
  var x = document.getElementById("helpInfo");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  var elmnt = document.getElementById("helpInfo");
  elmnt.scrollIntoView({behavior : 'smooth'});
}

</script>

{% endblock extra_javascript %}
